/* ma feuille de style */

body {
    background-color: var(--header-fond);
    font-family: Arial, Helvetica, sans-serif;
}

/* un box-sizing pour que les éléments ne changent pas de taille avec un padding et border */
* {
    box-sizing: border-box;
}

/* mes couleurs dans :root */
:root {
    --orange : #ea9f05;
    --gris-fond : #f3f3f3;
    --footer : #373737;
    --header-fond : #efefef;
    --header-user : #e5e5e5;
    --bg-noir : #1c1c1c;
    --gris-icone : #818181;
    --blanc : #fff;
}

/* HEADER */
header {
    background-color: var(--header-fond);
    height: 210px;
    width: 1050px;
    margin: 0 auto;
}

/* la barre orange dégradée avant le logo */
#degrade-orange {
    width: 5px;
    height: 190px;
    background: linear-gradient(to top, var(--orange), transparent);
    position: relative;
    bottom: -10px;
}

/* h1 avec un text-indent important pour cacher le texte (peut-être essayer de le faire avec z-index??) */
h1 {
    height: 85px;
    width: 330px;
    text-indent: -50000px;
    margin-top: 60px;

    /* le logo en background du h1 */
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

h6 {
    font-size: 18px;
    font-weight: 300;
    margin-top: 0;
}

/* span en orange pour le sous-titre */
h6 span {
    color: var(--orange);
}

/* partie user */
.menu-user {
    background: var(--header-user);
    width: 530px;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid var(--bg-noir);
}

.menu-user a {
    position: relative;
    bottom: 20px;
    text-decoration: none;
    color: var(--bg-noir);
    font-size: 14px;
    padding: 10px;
}

.menu-user img {
    max-height: 50px;
    margin-left: 50px;
}

/* style de "bonjour Julien" */
#user {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    margin-bottom: 35px;
}

/* la nav */
nav {
    text-align: center;
    display: flex;
    align-items: center;
}

/* le degradé de gris entre chaque onglet de nav */
.degrade-gris {
    max-width: 1px;
    height: 60px;
    padding: 0;
    margin: 0;
    background: linear-gradient(to top, black, var(--gris-icone), transparent);
}

nav a {
    color: #1c1c1c;
    text-decoration: none;
    margin-bottom: 20px;
}
/* FIN DU HEADER */

/* PARTIE PRINCIPALE */
main {
    background-color: var(--bg-noir);
}

/* l'image en bg sur le haut de main */
.bg-catalogue {
    width: 1050px;
    height: 355px;
    margin: auto;
    background: url(../img/header-page-catalogue.png) no-repeat bottom;
}

/* partie contenant les galeries */
#container {
    width: 1050px;
    background: var(--gris-fond);
    margin: auto;
    box-shadow: 0px 0px 7px 3px rgb(0, 0, 0);
}

/* mes galeries en flex pour espacer les images de façon égale */
#galerie, #galerie-2 {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

#galerie figure, #galerie-2 figure {
    width: 370px;
    height: 380px;
    background: var(--blanc);

    /* l'ombre portée autour des images */
    box-shadow: 0px 0px 7px 3px rgb(143, 143, 143);
}

#container figcaption {
    text-transform: uppercase;
    position: relative;
    bottom: 35px;
    text-align: center;
    width: 370px;
}

/* la réduction en position relative pour la placer en haut à droite de figure */
.reduc {
    width: 105px;
    height: 65px;
    background: var(--footer);
    color: var(--orange);
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: relative;
    top: 100px;
    right: -350px;
}

#galerie a, #galerie-2 a {
    width: 170px;
    height: 35px;
    background: var(--bg-noir);
    color: var(--blanc);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 10px;
}

.prix {
    width: 390px;
    padding-left: 60px;
}

.prix-barre {
    font-weight: 700;
    text-decoration: line-through;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 5px;
}

.prix-actuel {
    color: var(--orange);
    font-size: 45px;
    font-weight: 700;
    margin-top: 0;
    margin-left: 12px;
}

.grise {
    height: 25px;
    background-color: var(--footer);
    position: relative;
    bottom: 78px;
}

#nav-footer {
    width: 515px;
    margin: auto;
    height: 55px;
    display: flex;
    justify-content: space-evenly;
    background: var(--header-user);
    border: 2px solid var(--bg-noir);
    font-size: small;
    border-radius: 0 0 10px 10px;
    margin-top: -5px;
    position: relative;
    z-index: 1;
}

#nav-footer a {
    margin-top: 20px;
}

.rond {
    width: 10px;
    height: 10px;
    background-color: rgb(185, 185, 185);
    border-radius: 50px;
}

footer {
    background-color: var(--footer);
    position: relative;
    bottom: 55px;
}

#galerie-3 {
    margin: auto;
    padding: 80px 10px 0 10px;
    width: 700px;
    display: flex;
    justify-content: space-evenly;
}

#galerie-3 figcaption {
    color: var(--gris-fond);
    width: 160px;
    position: relative;
    text-align: center;
}


/* La classe pour créer une rangée */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Les colonnes*/
.col-1 {
    width: 6.333333%;
    margin: 1%;
}
.col-2 {
    width: 14.6666%;
    margin: 1%;
}
.col-3 {
    width: 23%;
    margin: 1%;
}
.col-4 {
    width: 31.333333%;
    margin: 1%;
}
.col-5 {
    width: 39.6666666%;
    margin: 1%;
}
.col-6 {
    width: 48%;
    margin: 1%;
    margin: auto;
}
.col-7 {
    width: 56.333333%; 
    margin: 1%;
}
.col-8 {
    width: 64.666666%;
    margin: 1%; 
}
.col-9 {
    width: 73%;
    margin: 1%;  
}
.col-10 {
    width: 81.333333%;
    margin: 1%;  
}
.col-11 {
    width: 89.666666%;
    margin: 1%;   
}
.col-12 {
    width: 98%;
    margin: 1%;   
}